html{
    background-image:url("stars.jpg");
    background-color: black;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center center;
    
    color: white;
    font-family: 'Raleway', sans-serif;
}

.header{
    text-align: center;
}

.logo {
    padding-top:2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


/*Category options*/
@media screen and (max-width: 700px) {
  .catTable {
    flex-direction: column !important;
  }
}

.catTable{
    margin-top:2em;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    width:95%;
}
.category{
    margin:1em;
    padding:2em;
    background-color:grey;
    border-radius:2px;
    width: 20%;
    text-align: center
}
.category:hover{
    background-color:lightblue;
}



/*Toggle switch*/
.toggleContainer{
    margin-top:3em;
    margin-left: auto;
    margin-right:auto;
    width:95%;
}
.toggle{
    padding:1em;
    background-color:grey;
    border-radius:2px;
}
.toggle:hover{
   background-color:lightblue;
}
.selected{
    background-color: lightblue;
}



#output{
    margin:2em;
    height:200px;
}